---
 const personalImageAlt = "Youssef Cahouach"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Youssef y actualmente soy estudiante de Ingeniería Informática en la Universidad Autónoma de Barcelona (UAB), 
      especializándome en la <strong>rama de Computación (Computer Science).</strong>
    </p>

    <p>
      A lo largo de mi formación, he tenido la oportunidad de trabajar en grandes proyectos que me han permitido adquirir 
      una amplia experiencia en diversas áreas. He aprendido mucho sobre la <strong>creación de videojuegos</strong>, el 
      <strong>desarrollo de 
      aplicaciones</strong> y el tratamiento de máquinas industriales mediante programas como <strong>ROS 
        (Robot Operating System).</strong>
    </p>

    <p>
      Además, he profundizado en el campo del <strong>Machine Learning</strong>, incluyendo técnicas de 
      <strong>aprendizaje supervisado</strong> y <strong>no supervisado</strong>, <strong>redes neuronales</strong> y 
      <strong>visión por computadora</strong>. Esta experiencia me ha permitido desarrollar habilidades técnicas 
      y analíticas que considero fundamentales para mi futuro profesional. 
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
